.from {
    position: relative;
    width: 500px;
    height: 850px;
    padding-left: 20px;
    padding-top: 15px;
    
    border-radius: 20px;
    margin:auto; 
}
.from{
    background: -webkit-linear-gradient(rgb(127, 178, 187), rgb(75, 174, 192)); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(rgb(142, 183, 196), rgb(88, 137, 177)); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(rgb(153, 206, 199), rgb(77, 134, 156)); /* For Firefox 3.6 to 15 */
    background: linear-gradient(rgb(143, 212, 224), rgb(57, 122, 148)); /* Standard syntax */
    }

     input[type=text],[type=comentario],[type=email]{
        width:470px;
        height:40px;
        
    }
